*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #9FA0C3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.title{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.msg-container{
    font-size: 30px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

#new-game{
    height: 45px;
    width: 120px;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    background-color: #7B435B;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    margin: auto;
}

.box{
    background-color: #AED9E0;
    color: black;
    height: 100px;
    font-size: 60px;
    font-weight: 700;
    width: 100px;
    border-radius: 1rem;
    border: none;
    margin: 10px;
}

#reset-btn{
    height: 45px;
    width: 120px;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    background-color: #7B435B;
    border-radius: 5px;
    border: none;
    margin: 15px auto;
}
